pom.xml
pom.xml.asc
*.jar
*.class
/public/
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.shadow-cljs/
_tmp.svg
*.png
*.txt
svgcli
